body {
  background-image: url(../images/Bakgrunn.jpg);
  background-size: cover;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*HEADER */

header {
  background: #25a3f5;
  text-align: right;
  padding-right: 40px;
}
header nav,
ul,
li {
  grid-column-start: 2;
  grid-column-end: 3;
  text-decoration: none;
  display: inline-block;
  padding-top: 0px;
}

header li,
i {
  padding-right: 40px;
}

header ul {
  color: white;
  padding-right: 50px;
}

header a {
  color: white;
  text-decoration: none;
}

.logo {
  display: grid;
  max-width: 120px;
  align-items: left;
}

/*MAIN */

main h1 {
  font-size: 70px;
  min-height: 100%;
  display: block;
  text-align: center;
  color: #feab00;
}
main .cta_button {
  display: block;
  text-align: center;
  color: white;
  background-color: #25a3f5;
  padding: 10px;
}

/* FOOTER */

.footer {
  background: #25a3f5;
  color: white;
  height: auto;
  position: relative;
}

.footer-content {
  display: grid;
  padding: 20px;
}

footer p {
  margin: 8px;
}

.footer .footer-contact {
  display: grid;
  grid-column: 1;
}

.footer .footer-info {
  display: grid;
  grid-column: 2;
}

.footer .footer-subscribe {
  display: grid;
  grid-column: 3;
  text-align: left;
}
